.mobile_burger_menu {
    flex-direction: column;
    gap: 5px;
    display: none;
    cursor: pointer;
    @media (max-width: 768px) {
        display: flex;
    }
    .burger_slice {
        width: 28px;
        height: 2px;
        background-color: white;
    }
}