.mode_switcher {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 20px;
  padding: 6px;
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: center center;
}

.theme_dark {
  background: #010101;
}


.theme_light {
  background: #F2F2F2;
  flex-direction: column-reverse;
}