// @import '../../../styles/variables.scss';

.stage {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    &:hover {
        // background-color: $championship-bottom-place;
        cursor: pointer;
    }
}
.playoff_stage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single_game {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    // border: 1px solid $substrate-color;
    width: 250px;
}
.name {
    width: 150px;
}
.team_description {
    display: flex;
    gap: 10px;
    align-items: center;
}
.img_wrapper {
    width: 40px;
    height: 40px;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}