// @import '../../styles/variables.scss';

.change_password {
	padding-top: 40px;
	padding-left: 20px;
	width: 40%;

	@media (max-width: 768px) {
		width: 100%;
		padding-bottom: 20px;
		padding-left: 0;
	}

	.change_password_header {
		display: flex;
		gap: 30px;
		color: white;
		align-items: center;
	}

	.purple {
		// color: $active-el-color;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		cursor: pointer;
	}
	.button_wrapper {
		padding: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.show_password {
		background-color: transparent;
		opacity: 0.7;
		width: 20px;
		height: 100%;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;

		&>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h3 {
		font-size: 24px;
	}
	.input_wrapper {
		display: flex;
		justify-content: space-between;
		width: 330px;
		border: 1px solid rgba(255, 255, 255, 0.4);
		border-radius: 8px;
		align-items: center;
		@media (max-width: 576px) {
			width: auto;
		}
		&>input {
			background-color: rgba(255, 255, 255, 0);
			width: 80%;
			padding: 16px;
			color: rgba(255, 255, 255, 0.4);
			outline: none;
			display: flex;
			justify-content: space-between;
			border: none;

			@media (max-width: 1200px) {
				width: 250px;
			}

			&::placeholder {
				color: #FFFFFF;
				font-weight: 400;
				font-size: 16px;
				line-height: 18px;
			}
		}
	}
	.field {
		display: flex;
		flex-direction: column;
		gap: 8px;
		
		&>label {
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #FFFFFF;
			opacity: 0.5;
		}
		

		
	}
}