@import '../../styles/variables.scss';

.payment {
    padding-top: 40px;
    width: 60%;
    // border-right: 1px solid $substrate-color;
    padding-bottom: 50px;
    @media (max-width: 768px) {
        border: none;
        width: 100%;
    }
    & > h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: white;
    }
    .payment_rates {
        display: flex;
        gap: 40px;
        margin-top: 30px;
        padding-right: 20px;
        flex-wrap: wrap;
    }
}