.circle_bkg {
    fill: none;
    stroke: #A266F4;
}

.circle_progress {
    fill: none;
    stroke: #DC7700;
    transition: stroke-dashoffset 0.3s linear;
    // stroke-linecap: round;
    // stroke-linejoin: round;
}



.img_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: contain
    }
}