$bg-color: #1f1f1f;
$active-el-color: #a266f4;
$hove-el-color: #b279ff;
$main-color: #ffffff;
$bg-rectangle-color: #333333;

$championship-champions-league-place-color: #4e4efd;
$championship-europa-league-place-color: #b7a503;
$championship-conference-league-place-color: #51b136;
$championship-bottom-place: #c00000;

$results-first-place: #b3891f;
$results-second-place: #867d7d;
$results-third-place: #5c3e1f;

$championship-table-team-progress-bar-dark: #181818;
$championship-table-team-progress-bar-light: #e6d4ff;

$substrate-color: #5c5c5c;
$substrate-color-light: #e1e3ea;

$text-color-light: #333333;

$banner-color-dark: #181818;
$banner-color-light: #f3f4f7;

$resizable-border-dark: #5c5c5c;
$resizable-border-light: #e1e3ea;

// .light {
// 	color: $text-color-light
// }

// .dark {
// 	color: $main-color
// }
