@import '../../styles/variables.scss';

.sparkline_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid $substrate-color;
}

.bkg_light {
    background-color: transparent;
}

.bkg_dark {
    background-color: $banner-color-light;
}