.mini_candles {
    position: absolute;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5), 
    0 0 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    cursor: pointer;
    width: 400px;
    height: 150px;
    z-index: 4;
    @media (max-width: 1700px) {
        left: 100px
    }
    @media (max-width: 1500px) {
        left: 60px;
    }
}