.news {
  color: #ffffff;
  width: 100%;
  height: 100%;
  // background-image: url('../../assets/background.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  display: flex;
}
