.sparkline_team_season_results {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5), 
    0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1F1F1F;
    display: flex;
    gap: 5px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: absolute;
    top: 60px;
    left: 33%;
    z-index: 5;
}