.publishpost_modal_btn {
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  padding: 13px 24px 13px 24px;
  color: #181818;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  &:hover {
    background: #A266F4;
    color: white;
  }
}