@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Helvetica.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Patrizia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/patrizia/Patrizia-Regular.ttf') format('truetype');
  }
}




.text-responsive {
  font-size: 13px;
}

@media (min-width: 800px) {
  .text-responsive {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .text-responsive {
    font-size: 18px;
  }
}

video::-webkit-media-controls,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-timeline-container,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-toggle-closed-captions-button {
  display: none !important;
  -webkit-appearance: none !important;
}

video::-moz-media-controls,
video::-moz-media-controls-panel,
video::-moz-media-controls-play-button,
video::-moz-media-controls-volume-slider,
video::-moz-media-controls-mute-button,
video::-moz-media-controls-timeline,
video::-moz-media-controls-current-time-display,
video::-moz-media-controls-time-remaining-display,
video::-moz-media-controls-fullscreen-button {
  display: none !important;
}

video::-ms-media-controls,
video::-ms-media-controls-panel,
video::-ms-media-controls-play-button,
video::-ms-media-controls-volume-slider,
video::-ms-media-controls-mute-button,
video::-ms-media-controls-timeline,
video::-ms-media-controls-current-time-display,
video::-ms-media-controls-time-remaining-display,
video::-ms-media-controls-fullscreen-button {
  display: none !important;
}

video {
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls {
  display: none !important;
  opacity: 0; 
}
video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

video::-webkit-media-controls {
  display: none !important;
}

video {
  pointer-events: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
